body {
    background-image: url(/css_background/imagenes/espacio.jpg);
    height: 100%;
    width: 100%;
    position: absolute ;
    text-align: center;
}

.header__title{
    color: rgb(73, 159, 171);
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__description{
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 70px 50px;
}
.main__button{
    background-color: black;
    color: white;
    border-radius: 5px;
}
